* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
    font-size: 16px;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    width: 100%;
    position: fixed;
    z-index: 2;
}

header span {
    display: inline-block;
    font-size: 2.4rem;
}

header .seo {
    color: #d9dcd6;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
}

header ul {
    list-style-type: none;
}

header ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}


p {
    font-size: 1rem;
}


footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;

}

.footer_logo {
    font-size: 1.25rem;
}



.slider {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;  
}

h1 {
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: center;
    font-size: 3rem;
    color: #ffffff;
    text-shadow: 2px 2px #000000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} 

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.main_container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    background-color: #d9dcd6;
}

.main_item_services {
    width: 75%;
    border-top: 0px;
    border-bottom: 0px;
    margin-left: 0px;
    background-color: #d9dcd6;
    border-left: solid 20px #d9dcd6;
    border-right: solid 10px #d9dcd6;
}

.main_item_benefits {
    border-top: 0px;
    border-bottom: 0px;
    border-left: solid 10px #d9dcd6;;
    border-right: solid 20px #d9dcd6;;
    width: 25%;
    margin-right: 0px;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;

}

.section_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section_item_services {
    margin-bottom: 35px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
} 

.section_item_services img {
    max-height: 200px;
}

.section_item_services h2 {
    margin-bottom: 20px;
    font-size: 2.25rem;
} 

.section_item_benefits {
    margin-bottom: 2rem;
    color: #ffffff;
    font-size: 0.8rem;
    text-align: center;
    }

.section_item_benefits h3 {
    margin-bottom: 0px;
    text-align: center;
}

.section_item_benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

