/* 1.0 Universal Selector */
HTML{
    font-size: 100%;
    box-sizing: border-box;
}
/** Universal box resizing wiht inheritance. Older browswers are not supported. **/
*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}


/* 2.0 Element Selectors */

body {
    background-color: #d9dcd6;
    font-size: 62.5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    padding: 20px;
    background-color: rgb(43, 98, 125, 100%);
    color: #ffffff;
    width: 100%;
    /*height: 100%;*/
   /*position: fixed;
    z-index: 2;*/
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 1rem;
}

span {
    display: inline-block;
    font-size: 2.4rem;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
}

h1 {
    font-size: 3.2rem;
    color: #ffffff;
    text-shadow: 3px 3px  rgb(43, 54, 125);
} 

h2 {
    margin-bottom: 20px;
    font-size: 2rem;
} 

h3 {
    margin-bottom: 0px;
    font-size: 1.1rem;
    text-align: center;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 1rem;
}

form {
    /* Center the form on the page */
    margin: 0 auto;
    padding: 10px;
    border: 0;
    
  }
  
  input {
    text-align: center;
    width: 250px;
    height: 40px;
    border: 1px solid #fff;
    font-size: 1rem;
    box-shadow: 2px 2px #2a607c;
  }
 
  button {
    padding: 10px;
    margin: 20px;
    font-size: 1rem;
    background-color: rgb(43, 54, 125);
    color: #fff;
    box-shadow: 1px 1px #696969;
  }

  footer {
    padding: 10px 10px 10px 10px;
    background-color: #2a607c;
    color: #ffffff;
    width: 100%;
}

footer nav {
    margin-left: 0px;
    padding-left: 0px;
    text-align: left;
    font-size: 1rem;
}

address {
    font-size: 0.9rem;
}


/* 3.0 Class Selectors */

/** 3.1 Style logo and social media fonts from awesome icons **/

.seo {
    color: #d9dcd6;
}

.fa {
    padding: 5px 10px 5px 10px;
    font-size: 5px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
  }

  .fa-facebook {
    padding-right: 20px;
  }


/** 3.2 Style header slider section **/

/* Container holding the image and the text for the area just before header */
.slider {
    position: relative;
    margin-bottom: 20px;
    text-align: left;
    color: white;
  }


  /* Centered text */
.slider_center_left {
    position: absolute;
    top: 50%;
    left: 5%;
  }

 .slider_slogan {
    font-size: 2rem;
    text-shadow: 2px 2px #2a607c;
 } 


  /** 3.3 Style image positioning **/
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}


/** 3.4 Styling main container and their items 
        --> This main container holds 2 columns with Services on the left taking up 75% of the width and benefits on the right.
*/
.main_container {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    background-color: #d9dcd6;
}

.main_item_services {
    width: 75%;
    border-top: 0px;
    border-bottom: 0px;
    border-left: solid 20px #d9dcd6;
    border-right: solid 10px #d9dcd6;
    margin-left: 0px;
    background-color: #d9dcd6;
}

.main_item_benefits {
    width: 25%;
    border-top: 0px;
    border-bottom: 0px;
    border-left: solid 10px #d9dcd6;;
    border-right: solid 20px #d9dcd6;;
    margin-right: 0px;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}


/** 3.5 Styling sub-section container and their items 
        --> This section containers the flex boxes for the services and the benefit items respectively.
*/

.section_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section_item_services {
    margin-bottom: 35px;
    padding: 50px;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
} 

.section_item_services_last {
    margin-bottom: 0;
    padding: 50px;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
} 

.section_item_services img {
    max-height: 200px;
}

.section_item_services_last img {
    max-height: 200px;
}

.section_item_benefits {
    margin-bottom: 32px;
    height: 100%;
    color: #ffffff;
    text-align: center;
}

.section_item_benefits_last {
        color: #ffffff;
        height: 100%;
        text-align: center;
}

.section_item_benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.section_item_benefits_last img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.section_item_benefits p {
    font-size: 0.9rem;
}

.section_item_benefits_last p {
    font-size: 0.9rem;
}


/** 3.6 Style footer elements **/
.footer_container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    flex-direction: column wrap;
    justify-content: space-between;
    align-items: stretch;
}

.footer_item_left {
    text-align: left; 
    padding-left: 20px; 
    font-size: 0.9rem;
}

.footer_item_right {
    font-size: 0.9rem;
    text-align: right; 
    padding-right: 20px;
}

/*
Last edited by: Pei Wang 12 Dec 2022
*/